@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:ital,wght@0,700;1,500&display=swap');
body{
    background-color: rgb(221, 214, 186);
}

form {
    display: flex;
    margin: 8px;
}

a {
    color: white;
}

main {
    display: flex;
    color: rgb(13, 122, 195);
    margin: 100px;
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    justify-content: center;
}